#landing-page-container {
  background-color: var(--color-primary-light);
}

#landing-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30vh;
  width: 50vw;
  max-width: 200px;
  min-height: 265px;
  max-height: 360px;
  /* background-color: red; */
}

#landing-buttons-wrapper {
  /* background-color: blue; */
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#landing-buttons-container {
  display: flex;
  flex-direction: column;
  height: 22vh;
  max-height: 135px;
  min-height: 120px;
  justify-content: space-between;
  /* background-color: rebeccapurple; */
}

#landing-buttons {
  height: 10.5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* min-height: 100px;
  max-height: 120px; */
}

#title p {
  font-size: 1.2rem;
}

@media (min-width: 700px) {
  /* #container {
        height: 60vh;
    } */

  /* #landing-page {
    height: 32vh;
  }

  #title p {
    margin-top: 1.5vh;
  } */

  /* #landing-buttons {
    flex-direction: row; */
    /* width: 540px;
  } */

  /* #buttons-container{
        height: 20vh;
    } */
}
