#main-rank-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#main-rank-page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
  /* width: calc(60vw + 7rem); */
  max-width: 700px;
}

#main-rank-post-container {
  height: 80vh;
  /* width: calc(60vw + 7rem);
   max-width: 700px; */
  /* margin-bottom: 1rem; */
  overflow: auto;
}

#main-rank-page-nav-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-height: 10vh;
  /* background-color: var(--color-primary-light); */
}

#main-rank-page-nav-container a {
  color: var(--color-font-primary);
  font-size: 1rem;
  text-decoration: none;
}

#main-rank-page-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  /* height: 50%; */
}

#main-rank-page-subnav-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

#main-rank-page-subnav-container a {
  color: var(--color-font-primary);
  font-size: 0.9rem;
  text-decoration: none;
}

#main-rank-page-subnav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70vw;
  max-width: 400px;
  position: relative;
  top: -0.8rem;
}