#change{
    position: relative;
    left: 80px;
    top: 80px;
}

#infos-profile{
    width: 50%;
    margin:auto;
}

#job-points{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    display: grid;
        
}
#img-u{
    width: 25%;
    justify-content: center;
}
#jb-u{
    width: 50%;
    justify-content: center;

}
#pontos-u{
    width: 25%;
    justify-content: center;
}
